/* - - - - - - GENERAL - - - - - - */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-gutter: auto;
}

body {
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    font-size: 16px;
}

.hidden {
    display: none;
}

/* - - - - - - WIDGET STYLES - - - - - - */
.widget__button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 60px;

    position: fixed;
    bottom: 4rem;
    right: 4rem;

    background-color: var(--base);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition-duration: 300ms;
    cursor: pointer;
    z-index: 10001;

    &:active {
        scale: 0.85;
    }
}

.widget {
    position: fixed;
    top: 0;
    bottom: 0;

    width: 100%;
    max-width: 400px;
    height: 100dvh;
    padding: 20px 0px;
    
    display: flex;
    flex-direction: column;
    background-color: var(--base);
    
    z-index: 10001;
    opacity: 0;
    transition: transform 400ms ease-in-out, opacity 0ms ease-in-out 400ms;

    & > .widget__header,
    & > .widget__footer {
        padding: 0 20px;
    }

    & hr {
        border: 1px solid var(--base-content / 0.5);
    }
}

.widget--right {
    right: 0;
    transform: translateX(100%);
}

.widget--left {
    left: 0;
    transform: translateX(-100%);
}

.widget--dark {
    --base: #000;
    --base-content: #fff;
    --primary: #39a900;
    --primary-content: #fff;
    --secondary: #fff;
    --secondary-content: #000;
}

.widget__overlay {
    position: fixed;
    inset: 0;
    background-color: #000;
    opacity: 0;
    z-index: -1;
    transition: 300ms ease-in-out;
}

#widget__toggle {
    display: none;
}

#root:has(#widget__toggle:checked) .widget,
body:has(#widget__toggle:checked) .widget {
    transform: translateX(0);
    opacity: 1;
    transition: transform 400ms ease-in-out, opacity 0ms ease-in-out;
}

#root:has(#widget__toggle:checked) .widget__overlay,
body:has(#widget__toggle:checked) .widget__overlay {
    opacity: 0.25;
    z-index: 10000;
}

.widget__header h3 {
    text-align: center !important;
    color: var(--secondary);
    padding-bottom: 10px;
}

.widget__main {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 20px;
    gap: 20px;

    overflow-y: auto;
    scrollbar-gutter: auto;
}

.widget__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    height: auto;

    padding: 10px;
    gap: 5px;

    border-radius: 10px;

    transition-duration: 300ms;

    &:hover {
        outline: 2px solid var(--secondary);
        background-color: rgba(0, 0, 0, 0.1);
    }

    & > .widget__item-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        gap: 5px;
        color: var(--base-content);
        & svg {
            fill: var(--base-content);
        }
        & > .widget__item-text {
            text-align: center !important;
        }
    }

    & > .widget__item-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        & > .widget__item-indicator {
            width: 15px;
            height: 2.5px;
            background-color: rgb(161, 161, 161);
        }

        & > .active {
            background-color: var(--secondary);
        }
    }

    & > .badge {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background-color: var(--secondary);

        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--secondary-content);
    }
}

.widget__item--active {
    outline: var(--secondary) 3px solid;
    &:hover {
        outline: var(--secondary) 3px solid;
    }
}

.widget__footer > span {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;

    & button {
        background-color: var(--secondary);
        color: var(--secondary-content);
        border: none;
        cursor: pointer;

        padding: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition-duration: 300ms;

        &:hover {
            scale: 1.05;
        }

        & > svg {
            fill: var(--secondary-content);
            width: 19px;
            height: 19px;
        }
    }

    & button:nth-child(1) {
        border-radius: 10px 0px 0px 10px;
        flex-grow: 2;
    }

    & button:nth-child(2) {
        border-radius: 0px 10px 10px 0px;
        flex-grow: 1;
    }
}

.highlighted-link {
    text-decoration: underline;
    color: var(--primary-content) !important;
    background-color: var(--primary) !important;
    display: inline-block;
    padding: 5px 7px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.mask__overlay {
    position: fixed;
    z-index: 10003;
    left: 0;
    right: 0;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.read-guide {
    position: fixed;
    left: 0;
    right: 0;
    height: 20px;
    background-color: var(--primary);
    border-top: 3px solid var(--base-content);
    border-bottom: 3px solid var(--base-content);

    z-index: 10003;
}

.read-guide__cursor {
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border: var(--base);
    rotate: 45deg;
    border-top: 3px solid var(--base-content);
    border-left: 3px solid var(--base-content);

    position: absolute;
    transform: translateX(-17px);

    z-index: 10004;
}

/* Font Size based on tailwind */
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.text-9xl {
    font-size: 8rem;
    line-height: 1;
}

/* Font Weight based on tailwind */

.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}

/* text align based on tailwind */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}